-# CALENDAR page with 2 views
-#    Teacher views all lessons and unavailable dates
-#    Student views only his own lessons and teacher's unavailable dates

.ui.small.modal#new_lesson_modal(style="display: none;")

- if @user != nil

  -# Student calendar view
  - if !@user.admin
    .ui.container.stackable.grid.centered
      .row
        %h2
          Book a lesson with
          = @tutor_name

      .row
        .ten.wide.column#user-calendar
          = month_calendar events: @lessons do |date, lessons|
            %p
              = link_to date.to_formatted_s(:short), new_lesson_path(:date => date), remote: true
            - lessons.each do |lesson|
              %p.marginless
                - if lesson[:label] == "unavailable"
                  = link_to "Unavailable", edit_lesson_path(lesson), remote: true, class: "disable-my-cell dim-my-cell tinytext"
                - elsif lesson.user_id == @user.id
                  = link_to "Lesson", edit_lesson_path(lesson), remote: true, class: "tinytext"
                - else
                  %p.tinytext= "Lesson"

  - elsif @user.admin
    -# Teacher calendar view
    .ui.grid.container.stackable.centered

      -# Calendar
      .nine.wide.column#user-calendar
        %h1 My Calendar
        %p Add lessons, block dates, approve student bookings all in one place.

        = month_calendar events: @lessons do |date, lessons|
          %p
            = link_to date.to_formatted_s(:short), new_lesson_path(:date => date), remote: true
          - lessons.each do |lesson|
            %p.marginless
              - if lesson[:label] == "lesson"
                = link_to "Lesson", edit_lesson_path(lesson), remote: true, class: "tinytext"
              - elsif lesson[:label] == "unavailable"
                = link_to "Unavailable", edit_lesson_path(lesson), remote: true, class: "dim-my-cell tinytext"

      -# Notifications panel
      .four.wide.column
        .ui.padded.segment
          %h3.ui.header
            Recent changes
          - if @notifications.count == 0
            %p No recent activity
          .ui.comments
            - @notifications.each do |notification|
              .comment
                %a.avatar
                  = image_tag notification.user.profile_pic_url, style: "border-radius: 99em;"
                .content
                  %a.author
                    = notification.user.name
                  .metadata
                    %span.date
                      = time_ago_in_words(notification.updated_at)
                  .text
                    - if notification[:updated_count] == 0
                      Booked lesson for
                      = notification[:start_time].to_date.to_formatted_s(:short)
                    - elsif notification[:updated_count] > 0
                      Updated lesson details for
                      = notification[:start_time].to_date.to_formatted_s(:short)
                  .actions
                    = link_to "Ok got it", dismiss_notice_path(notification), remote: true, method: :put
:javascript
  $(document).ready(function () {
    $('.dim-my-cell').parent().parent(".day").addClass( "cell-dim" );
    $('.disable-my-cell').parent().parent(".day").addClass( "disabled" );
    console.log($('.dim-my-cell').parent().parent(".day"))
  })
