.ui.small.modal#new_lesson_modal(style="display: none;")

- if (@user.admin == false)
  .ui.main.container.stackable.grid.centered
    %h2
      Schedule of tutor -
      =@tutor_name

    .row
      .ten.wide.column#user-calendar
        = month_calendar events: @lessons do |date, lessons|
          = link_to date.to_formatted_s(:short), new_lesson_path(:date => date), remote: true
          - lessons.each do |lesson|
            - if lesson.user_id == @user.id
              = link_to "Lesson", edit_lesson_path(lesson), remote: true, class: "ui"
            - else
              = "Lesson"

      .six.wide.column#event-form
        %h3 Add a new event
        %p.success= flash[:success]
        %p.error= flash[:error]

- elsif @user.admin
  .ui.main.container.stackable.grid.centered
    %h2 My Calendar

    .row
      .ten.wide.column#user-calendar
        = month_calendar events: @lessons do |date, lessons|
          = link_to date.to_formatted_s(:short), new_lesson_path(:date => date), remote: true
          - lessons.each do |lesson|
            = link_to "Lesson", edit_lesson_path(lesson), remote: true, class: "ui"

      .six.wide.column#event-form
        %h3 Add a new event
        %p.success= flash[:success]
        %p.error= flash[:error]
