.ui.main.container.stackable.grid.centered
  %h2 My Calendar

  .row
    .ten.wide.column#user-calendar
      = month_calendar events: @lessons do |date, lessons|
        = link_to date.to_formatted_s(:short), new_lesson_path(:date => date), remote: true
        - lessons.each do |lesson|
          = link_to "Lesson", lesson_path(lesson), remote: true

    .six.wide.column#event-form
      %h3 Add a new event
      %p.success= flash[:success]
      %p.error= flash[:error]
