- if @user != nil

  - if !@user.admin
    %i.close.icon
    .header
      Book a new lesson
    .content
      %p
        %i
          “Live as if you were to die tomorrow. Learn as if you were to live forever.” (Mahatma Gandhi)
      %p
        Note: each booking is for 2 hours of lesson time.
      = simple_form_for @lesson, remote: true, html: { :class => 'ui form'} do |f|
        .field
          = f.label :start_time, label: "Choose a date and time"
          = f.datetime_field :start_time
        = f.button :submit, "Book Lesson", :class => "ui green button"

  - elsif @user.admin
    %i.close.icon
    .header
      Add a new event
    .content
      %p
        Note: duration per lesson is set to default 2 hours.
        %a(href="#")
          (change)
      = simple_form_for @lesson, remote: true, html: { :class => 'ui form'} do |f|
        .fields.inline
          = f.label :label, label: "Event type:"
          .field
            .ui.radio.checkbox
              = f.radio_button :label, "lesson", checked: "checked"
              = f.label :label, "Lesson", value: "lesson"
          .field
            .ui.radio.checkbox
              = f.radio_button :label, "unavailable"
              = f.label :label, "Blockout date", value: "unavailable"
        .field
          = f.label :start_time, label: "Choose a date and time"
          = f.datetime_field :start_time
        .field
          = f.label :lesson_duration_m, label: "Enter lesson duration in minutes"
          = f.number_field :lesson_duration_m, placeholder: "120"
        .field#which_student
          = f.label "Which Student?"
          = f.select(:user_id, User.all.collect {|x| [x.name, x.id]})

        = f.button :submit, "Submit", :class => "ui green button"
