.ui.container.stackable.grid.centered

  .twelve.wide.column
    .ui.left.aligned.grid
      .left.floated.three.wide.column
        .ui.basic.segment
          %h1 Forum
      .right.floated.three.wide.column
        .ui.basic.segment
          = link_to "New Post", new_post_path, class: "ui teal button"

    .ui.divided.items
      - @posts.each do |post|
        .item
          .ui.tiny.image
            = image_tag post.user.profile_pic_url, style: "border-radius: 99em;"
          .content
            .header
              = link_to post.title, post
            .meta
              %span
                Posted by
                = post.user.name
                on
                = post.created_at.to_date.to_formatted_s(:short)
            .description
              = post.content.slice(0,300)
              - if post.content.length > 300
                = "..."
