.ui.main.container.stackable.grid.centered

  .ten.wide.column
    = link_to "<< Back to Forum", posts_path
    .ui.very.padded.segment
      .ui.items
        .item
          %a.ui.tiny.image
            = image_tag @post.user.profile_pic_url, style: "border-radius: 99em;"
          .content
            .description
              %p
                %strong= @post.user.name
                posted this on
                = @post.created_at.to_date.to_formatted_s(:short)

      .ui.divider

      -# Original post content
      %h1= @post.title
      %p= @post.content
      %p
        Total of
        = @post.comments.count
        replies to this post.

  -# Comments thread
  .nine.wide.column
    .ui.comments
      - @post.comments.each do |comment|
        .comment
          %a.avatar
            = image_tag comment.user.profile_pic_url, style: "border-radius: 99em;"
          .content
            - if comment.user.admin
              %a.ui.image.small.label.green
                = comment.user.name
                .detail
                  Teacher
            - elsif comment.user.id == @post.user.id
              %a.ui.image.small.label
                = comment.user.name
                .detail
                  Asker
            - else
              %a.author
                = comment.user.name
            .metadata
              %span.date
                = time_ago_in_words(comment.created_at)
                ago
            .text
              = comment.comment
            .actions
              = link_to "Edit", edit_post_comment_path(@post, comment)
              = link_to "Delete", post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure?" }


    = render "comments/form"

  .row
    = link_to "<< Back to Forum", posts_path
