!!!
%html
  %head
    %title Tutor's Helper
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body

    -# ====== NAVBAR ======
    - if current_user != nil

      - if current_user.admin
        .ui.teal.inverted.large.seven.item.menu
          .item.space-out
          = link_to "Home", root_path, class: "item"
          = link_to "Calendar", '/users/' + current_user.id.to_s, class: "item"
          = link_to "Post-mortem", lessons_path, class: "item"
          = link_to "Forum", posts_path, class: "item"
          = link_to "Logout", destroy_user_session_path, :method => :delete, class: "item"
          .item.space-out

      - elsif !current_user.admin
        .ui.teal.inverted.large.seven.item.menu
          .item.space-out
          = link_to "Home", root_path, class: "item"
          = link_to "Notes", lessons_path, class: "item"
          = link_to "Forum", posts_path, class: "item"
          = link_to "Logout", destroy_user_session_path, :method => :delete, class: "item"
          .item.space-out

    - else
      -# Navbar when not authenticated
      .ui.teal.inverted.large.four.item.menu
        .item.space-out
        = link_to "Sign Up", new_user_registration_path, class: "item"
        = link_to "Log In", new_user_session_path, class: "item"
        .item.space-out

    -# FLASH MESSAGES
    .ui.grid.container.stackable.centered
      .eight.wide.column
        = render "partials/flash"

    = yield
