<!DOCTYPE html>
<html>
  <head>
    <title>TutorsHelperApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <!-- FLASH MESSAGES -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- NAVBAR -->
    <% if current_user %>
      <strong><%= link_to current_user.name, root_path %></strong> |
      <%= link_to "Calendar", '/users/' + current_user.id.to_s %> |
      <%= link_to "Logout", destroy_user_session_path %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path %> |
      <%= link_to "Log In", new_user_session_path %>
    <% end %>


    <%= yield %>
  </body>
</html>
